body {
    font-family: Helvetica;
}
table,tr,td,th {
    border: solid 1px #4FB3BF;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    padding: 4px;
    
}
td:hover{
    background-color:#4FB3BF ;
}
#góra, #dół
{
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}
#lewe
{
    float: left;
    background-color: #EFEFEF;
    width: 55%;
}

#lewo1 {
    height: 150px;
   
}
#lewo2 {
    height: 300px;
}

#prawy
{
    background-color: #4FB3BF ;
    width: 45%;
    height: 450px;
    text-align: center;
    float: right;
}

#dół
{
    clear: both;
}

img {
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
}